body{
  background: blue;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 5px;
=======
  padding: 9px;
>>>>>>> function_2
=======
  padding: 9px
>>>>>>> function_1
=======
  margin: 50px;
>>>>>>> function_3
}
